* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*   NAVBAR STYLES  */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 5;
  min-height: 13vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 40px;
}
.logo-heading {
  font-size: 30px;
  font-weight: 500;
  margin-left: 15px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.link-discover {
  position: relative;
}

.down {
  margin-left: 5px;
  margin-top: 1px;
  position: absolute;
  cursor: pointer;
}

.sub-discover {
  width: 140px;
  height: 100px;
  margin-top: 10px;
  position: absolute;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  left: 0;
  padding: 10px;
  z-index: 3;
  background-color: white;
}

.sub-discover li {
  margin-top: 10px;
  padding-left: 10px;
}

.links {
  padding: 20px;
  list-style: none;
}
.links a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 18px;
  text-transform: capitalize;
}

.login-btn {
  padding: 4px 16px;
  background-color: #070739;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}
.bars button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  display: none;
}



.sidebar{
  background-color: #070739;
  width: 100%;
  height: 60vh;

}
.side-link-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidelinks{
  list-style: none;
  line-height: 60px;
  width: 100%;
  text-align: center;
}
.sidelinks a{
  text-decoration: none;
  text-align: center;
  color:white;
}
.side-btn{
  padding: 4px 16px;
  background-color: white;
  color: #070739;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s all;
}
.closebtn{
  font-size: 24px;

}
.sdiscover{
  color: #070739;
  position: relative;

}

.sidelogo{
  margin-left: 5px;
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
  color:white;
}
 

/* HEADER STYLES  */

.header {
  min-height: auto;
  max-width: 100%;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}
.heading {
  font-size: 70px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}
.header-content p {
  font-size: 30px;
  margin-left: 20px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}
.head-btns {
  margin: 30px 40px;
}
.head-btns button {
  background-color: #070739;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  transition: 0.5s all;
}
.head-btns button:hover {
  background-color: black;
  color: white;
}

/* OVERVIEW STYLES  */

.overview {
  background-color: #070739;
  min-height: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.overview-content {
  width: 600px;
}
.overview-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.overview-content p {
  line-height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}
.video {
  margin-left: 100px;
  width: 500px;
}

/* JOIN STYLES  */

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.Join-head {
  font-size: 70px;
}
.wrapper-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}
.contentbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 200px;

  margin: 15px;
}
.content-head {
  font-size: 20px;
  margin-bottom: 10px;
  color: #070739;
}
.content-para {
  text-align: center;
}
.box-logo {
  font-size: 35px;
  margin-bottom: 20px;
  opacity: 0.9;
}
.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}
.imgbox {
  width: 40%;
}
.imagebox img {
  width: 600px;
}
.contentbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.contentbox2 h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contentbox2 p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 35px;
}
.btnbox button {
  background-color: #070739;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}
.contentbox3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.imgbox2 {
  width: 40%;
}
.imagebox2 img {
  width: 600px;
}
.contentbox3 h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contentbox3 p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 35px;
}
.contentbox3 button {
  background-color: #070739;
  color: white;
  padding: 10px 32px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

/* FAQ STYLES */

.faqs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
}
.quesBox {
  width: 700px;
  background-color: #efefef;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: 0.4s all;
}
/* .quesBox:hover{
  transform: translateX(10px);

} */
.ques {
  padding: 20px;
  cursor: pointer;
  color: #464851;
  font-weight: 400;
  opacity: 0.9;
  font-size: 26px;
}

.ans {
  background-color: white;
  padding: 30px 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  line-height: 35px;
  font-weight: 500;
}
.faq-head {
  font-size: 40px;

  font-weight: 400;
  margin-bottom: 30px;
}

/* REGISTER STYLES  */

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: auto;
  width: 100%;
  background-color: #2191fb;
  color: white;
  flex-wrap: wrap;
}

.reg-content {
  width: 550px;
}
.reg-content h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
.reg-content p {
  font-size: 18px;
  margin-bottom: 15px;
}
.reg-content button {
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 32px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 15px;
  transition: 0.5s all;
}
.reg-content button:hover {
  background-color: white;
  color: black;
}

.reg-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 250px;
}
.maildiv {
  width: 250px;
  height: 40px;
  padding: 10px;
}
::placeholder {
  font-size: 16px;
}
.reg-form form button {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 30px;
  color: white;
  margin-top: 15px;
  margin-right: 140px;
  cursor: pointer;
  font-size: 17px;
}
.checkdiv {
  width: 50px;
  margin-right: 232px;
  margin-top: 10px;
}
.reg-form form label {
  position: absolute;
  font-size: 14px;
  bottom: 20px;
  right: 10px;
}

/* BACKENED STYLES  */

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
  position: relative;
  padding-top: 120px;
}
.back-head {
  color: #070739;
  position: absolute;
  top: 0;
  font-size: 65px;
  font-weight: 600;
}
.card {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  transition: 0.4s all;
}
.card:hover {
  transform: scale(0.9);
}
.card img {
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.card p {
  width: 300px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px;
}
.card h1 {
  font-size: 22px;
  font-weight: 500;
}

/* Contact styles */

#contactdiv {
  margin-top: 80px;
}

#box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img1 {
  width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 100px;
}
.logos1 {
  font-size: 30px;
  margin-right: 20px;
  color: #2191fb;
}
#col12 {
  margin-top: 30px;
}
#contact-head {
  font-size: 60px;
  margin-bottom: 60px;
}

/* SUBSCRIBE US  */

.subscribe {
  margin-top: 50px;
}
#sub-input {
  width: 230px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0px;
}
#sub-input1 {
  width: 230px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0px;
}
#sub-input2 {
  width: 230px;
  height: 45px;
  border: 1px solid black;
  border-radius: 0px;
}
#sub-box2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
.sub-head {
  font-size: 34px;
}

/* FOOTER */

.footer {
  margin-top: 80px;
  margin-bottom: 50px;
}

.foot-logo {
  width: 330px;
}
#foot1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col1 h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
.col2 h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
.col3 h1 {
  font-size: 32px;
  margin-bottom: 30px;
}
.col1 p,
.col2 p,
.col3 p {
  line-height: 20px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

/* navbar */

@media screen and (max-width: 1194px) {
  .logo img {
    width: 35px;
  }
  .logo-heading {
    font-size: 26px;
  }
  .links {
    padding: 14px;
    list-style: none;
  }
  .links a {
    font-size: 17px;
  }
  .login-btn {
    padding: 4px 15px;
    font-size: 15px;
  }
}
@media screen and (max-width: 990px) {
  .navbar {
    min-height: 12vh;
  }
  .logo img {
    width: 30px;
  }
  .logo-heading {
    font-size: 22px;
  }
  .links {
    padding: 14px;
    list-style: none;
  }
  .links a {
    font-size: 16px;
  }
  .login-btn {
    padding: 4px 13px;
    font-size: 14px;
  }
}
@media screen and (max-width: 936px) {
  .navbar {
    min-height: 14vh;
  }
  .logo img {
    width: 30px;
  }
  .logo-heading {
    font-size: 22px;
  }
  .links {
    display: none;
  }

  .login-btn {
    display: none;
  }
  .bars button {
    display: block;
  }
}

/* MEDIA QUERIES OF HEADER  */

@media screen and (max-width: 1194px) {
  .header-content {
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
  }
  .heading {
    font-size: 55px;
  }
  .header-content p {
    font-size: 24px;
    margin-left: 30px;
  }
  .head-btns {
    margin: 18px 40px;
  }
  .head-btns button {
    padding: 6px 25px;
    font-size: 18px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 936px) {
  .heading {
    font-size: 48px;
  }
  .header-content p {
    font-size: 20px;
    margin-left: 36px;
  }
  .head-btns {
    margin: 14px 40px;
  }
  .head-btns button {
    padding: 6px 24px;
    font-size: 17px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 780px) {
  .heading {
    font-size: 44px;
  }
  .header-content p {
    font-size: 20px;
    margin-left: 24px;
  }
  .head-btns {
    margin: 14px 30px;
  }
  .head-btns button {
    padding: 6px 24px;
    font-size: 17px;
    margin: 5px 5px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    min-height: 10vh;
  }
}

/* MEDIA QUERIES OF Overview */

@media screen and (max-width: 1092px) {
  .overview-content {
    width: 400px;
  }

  .overview-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .overview-content p {
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 996px) {
  .overview {
    background-color: #070739;
    min-height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }

  .overview-content {
    width: 600px;
  }

  .overview-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .overview-content p {
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .video {
    margin-left: 5px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .overview-content {
    width: 450px;
    text-align: center;
  }
  .overview-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 26px;
    text-align: center;
  }
  .overview-content p {
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .video {
    width: 370px;
  }
}
@media screen and (max-width: 489px) {
  .overview-content {
    width: 360px;
    text-align: center;
  }
  .overview-content h1 {
    margin-bottom: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 24px;
    text-align: center;
  }
  .overview-content p {
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .video {
    width: 340px;
  }
}

/* MEDIA QUERIES OF JOIN */

@media screen and (max-width: 984px) {
  .Join-head {
    font-size: 60px;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }
  .imgbox {
    width: 40%;
  }
  .imagebox img {
    width: 500px;
  }
  .contentbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  .contentbox2 h1 {
    font-size: 26px;
  }
  .contentbox2 p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
    width: 600px;
  }
  .btnbox {
    width: 500px;
  }
  .btnbox button {
    padding: 6px 24px;
    font-size: 15px;
    margin: 5px 5px;
  }

  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  .imgbox2 {
    width: 40%;
  }
  .imagebox2 img {
    width: 500px;
  }
  .contentbox3 h1 {
    font-size: 26px;
  }
  .contentbox3 {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .contentbox3 p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
    width: 600px;
  }
  .contentbox3 button {
    padding: 6px 24px;
    font-size: 15px;

    margin: 10px 5px;
  }
}

@media screen and (max-width: 800px) {
  .Join-head {
    font-size: 50px;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }
  .imgbox {
    width: 40%;
  }
  .imagebox img {
    width: 500px;
  }
  .contentbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
  }
  .contentbox2 h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .contentbox2 p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
  }
  .btnbox {
    width: 500px;
  }
  .btnbox button {
    padding: 6px 24px;
    font-size: 15px;
    margin: 5px 5px;
  }

  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .imgbox2 {
    width: 40%;
  }
  .imagebox2 img {
    width: 500px;
  }
  .contentbox3 h1 {
    font-size: 26px;
  }
  .contentbox3 p {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
  }
  .contentbox3 button {
    padding: 6px 24px;
    font-size: 15px;

    margin: 0 5px;
  }
}

@media screen and (max-width: 550px) {
  .Join-head {
    font-size: 38px;
    text-align: center;
  }
  .imagebox img {
    width: 420px;
  }
  .imagebox2 img {
    width: 420px;
  }

  .contentbox2 h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 300px;
  }
  .contentbox2 p {
    width: 400px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
  }
  .contentbox3 p {
    width: 400px;
  }
}
@media screen and (max-width: 414px) {
  .Join-head {
    font-size: 38px;
    text-align: center;
  }
  .imagebox img {
    width: 400px;
  }
  .imagebox2 img {
    width: 400px;
  }

  .contentbox2 h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 300px;
  }
  .contentbox2 p {
    width: 350px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 35px;
  }
  .contentbox3 p {
    width: 350px;
  }

  .btnbox button {
    padding: 6px 24px;
    border-radius: 20px;
    font-size: 17px;
    margin: 10px 20px;
  }
}

/* MEDIA QUERIES OF FAQ */

@media screen and (max-width: 800px) {
  .quesBox {
    width: 500px;
  }
  .faq-head {
    font-size: 35px;
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 642px) {
  .quesBox {
    width: 400px;
  }
  .faq-head {
    font-size: 30px;
    margin-bottom: 45px;
    text-align: center;
  }
  .ques {
    padding: 20px;
    font-size: 24px;
  }
  .ans {
    padding: 30px 20px;
    font-size: 18px;
  }
}
@media screen and (max-width: 424px) {
  .quesBox {
    width: 320px;
  }
  .faq-head {
    font-size: 28px;
    margin-bottom: 45px;
    text-align: center;
  }
  .ques {
    padding: 20px;
    font-size: 22px;
  }
  .ans {
    padding: 30px 20px;
    font-size: 17px;
  }
}

/* MEDIA QUERIES OF REGISTER */

@media screen and (max-width: 831px) {
  .register {
    flex-direction: column;
  }

  .reg-content {
    width: 550px;
    text-align: center;
    padding-top: 30px;
  }
}
@media screen and (max-width: 528px) {
  .reg-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
  }

  .reg-content {
    width: 380px;
    text-align: center;
    padding-top: 30px;
  }
}

@media screen and (max-width: 430px) {
  .reg-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  .reg-content {
    width: 300px;
    text-align: center;
    padding-top: 30px;
  }
}

/* MEDIA QUERIS OF CONTACT US */

@media screen and (max-width: 570px) {
  #box2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #img1 {
    width: 400px;
    height: 300px;
    margin-bottom: 60px;
  }

  #contact-head {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

/* MEDIA QUERIS OF BACKEND  */

@media screen and (max-width: 882px) {
  .back-head {
    font-size: 60px;
    font-weight: 600;
  }
}

@media screen and (max-width: 555px) {
  .back-head {
    font-size: 50px;
    font-weight: 600;
  }
}
@media screen and (max-width: 424px) {
  .back-head {
    font-size: 45px;
    font-weight: 600;
  }
}

/* MEDIA QUERIES OF SUBSCRIBE */

@media screen and (max-width: 864px) {
  #subbtn {
    margin-top: 20px;
  }
}
@media screen and (max-width: 570px) {
  #subbtn {
    margin: 10px 0;
    margin-left: 190px;
  }
  #sub-input {
    margin-left: 130px;
    margin-top: 10px;
  }
  #sub-input1 {
    margin-left: 130px;
    margin-top: 10px;
  }
  #sub-input2 {
    border-radius: 0px;
    margin-left: 130px;
    margin-top: 10px;
  }
  .sub-head {
    font-size: 28px;
  }
  #sub-box3 {
    width: 200px;
    text-align: center;
  }
}

@media screen and (max-width: 424px) {
  #subbtn {
    margin: 10px 0;
    margin-left: 130px;
  }
  #sub-input {
    margin-left: 80px;
    margin-top: 10px;
  }
  #sub-input1 {
    margin-left: 80px;
    margin-top: 10px;
  }
  #sub-input2 {
    border-radius: 0px;
    margin-left: 80px;
    margin-top: 10px;
  }
  .sub-head {
    font-size: 26px;
  }
  #sub-box3 {
    width: 200px;
    text-align: center;
  }
}

/* MEDIA QUERIES OF footer */

@media screen and (max-width: 558px){
  .col1,.col2,.col3{
    margin-left: 40px;
  }
}





